h1,
h2 {
  text-align: center;
}

h2 {
  padding: 1rem;
}

#title {
  font-size: 2rem;
}

td:nth-child(1) {
  font-weight: bold;
  font-size: 1.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
   border: none;
}

td {
  padding: 10px;
}

tr {
  border-bottom: 1px solid grey;
}

td:nth-child(2) {
  text-align: right;
   font-size: 1.5rem;
   color: #6495ED;
}
